<html ng-app="Paste.js" ng-controller="ServiceController">
<head>
    <title> {{ APP.NAME }} - {{ DocumentMeta.Title }}</title>
    <script type="text/javascript" src="./Lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./Lib/angular.min.js"></script>
    <script type="text/javascript" src="./Core/paste.js"></script>
    <script type="text/javascript" language="javascript" src="./Lib/jquery.sparkline.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./Style/Style.css">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./Lib/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
    <p id="status" ng-init="getUrlParameters()"></p>
    <div id="parentNav">
        <a id="AppName" ng-href="index.html"><span id="AppName"> <i class="fa fa-paste"></i> {{ APP.NAME }} </span></a>
        <a href="" ng-click="toggleDownloadBox()"><i class="fa fa-hdd-o"></i> Download</a>
        <a ng-href="index.html" target="_blank"><i class="fa fa-plus"></i> New</a>
        <a href="" ng-click="toggleStatsBox()"><i class="fa fa-bar-chart-o"></i> Stats</a>
        <a href="" ng-click="toggleInfoBox()"><i class="fa fa-info"></i> Info</a>
        {{DocumentMeta.isReadOnly === true ? "readonly" : ""}}
        <div id="tooltip" class="centerText">
            <div ng-show="tooltip.download">
                <div ng-hide="isSaving">
                    <h1 class="centerText">Download this Pad</h1>
                    <p>You can share this file using following links.</p>
                    <p ng-show="willDeletePad">This pad will be deleteted within {{ PadDeletionDuration }} days.</p>
                    <p ng-show="!willDeletePad">There is no lifetime limit for this pad.</p>
                    <p class="centerText">
                        <a href="index.html?pad={{DocumentMeta.ReadOnlyGuid}}">readonly pad</a>
                        <a ng-show="EditMode === true || DocumentMeta.isReadOnly === false" href="index.html?epad={{DocumentMeta.EditableGuid}}">editable pad</a>
                    </p>
                </div>
                <div ng-show="isSaving">
                    <h1>saving...</h1>
                </div>
            </div>
            <div ng-show="tooltip.error">
                There was an error while saving your document.
                <p>
                    Please inform the software administrator about following message:
                <p id="quote">
                    {{ DocumentMeta.ErrorMessage }}
                </p>
            </div>
            <div ng-show="tooltip.information">
                <h1 class="centerText">{{ APP.NAME}} {{ APP.VERSION }}</h1>
                <p>
                    {{ APP.NAME }} is a open source application which allows you to save and share texts and notices.<br />
                    License: See LICENSE for details
                </p>
            </div>
            <div ng-show="tooltip.statistics">
                <h1 class="centerText">Statistics</h1>
                <p>Created pads (last 7 days)</p>
                <div id="stats"></div>
            </div>
            <div id="statusText">
                <i class="fa fa-hdd-o"></i> {{StatusText}}
            </div>
        </div>
        <p clas="centerText" id="isSavingHint">saving...</p>
    </div>
    <textarea data-auto-grow ng-readonly="DocumentMeta.isReadOnly" id="editor" ng-click="hideTooltip()" ng-model="DocumentMeta.Content" ng-change="setTitle()" placeholder="Write here"></textarea>
</body>
</html>