<html ng-app="Paste.js" ng-controller="ServiceController">
<head>
    <title> {{ APP.NAME }} - {{ DocumentMeta.Title }}</title>
    <script type="text/javascript" src="./Lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./Lib/angular.min.js"></script>
    <script type="text/javascript" src="./Core/paste.js"></script>
    <script type="text/javascript" language="javascript" src="./Lib/jquery.sparkline.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./Style/Style.css">
    <link rel="stylesheet" type="text/css" href="./Lib/foundation-icons/foundation-icons.css">
</head>
<body>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
    <p id="status" ng-init="getUrlParameters()"></p>
    <div id="parentNav">  
        <ul>
            <li>
                <a id="AppName" href="index.html"><span id="AppName">{{ APP.NAME }}</span></a>
            </li>
            <li>
                <a href="" ng-click="toggleDownloadBox()"><i class="fi-share"></i> SHARE</a>
            </li>
            <li>
                <a ng-href="index.html" data-target="_blank"><i class="fi-asterisk"></i> NEW PAD</a>
            </li>
            <li>
                <a href="" ng-click="toggleInfoBox()"><i class="fi-info"></i> INFO</a>
            </li>
            <!--<li>
                <a href="" ng-click="toggleStatsBox()"><i class="fi-"></i> Stats</a>
            </li>-->
			<li>{{DocumentMeta.isReadOnly === true ? "READONLY" : ""}}</li>
        </ul>
        <div id="tooltip" class="centerText">
            <div ng-show="tooltip.download" id="download">
                <div ng-hide="isSaving">
                    <p ng-show="willDeletePad">This pad will be deleteted within {{ PadDeletionDuration }} days.</p>
                    <a class="downloadLink" href="index.html?pad={{DocumentMeta.ReadOnlyGuid}}"><i class="fi-clipboard-notes"></i> readonly pad</a>
                    <a class="downloadLink" ng-hide="DocumentMeta.isReadOnly" href="index.html?epad={{DocumentMeta.EditableGuid}}"><i class="fi-pencil"></i> editable pad</a>
                </div>
                <div ng-show="isSaving">
                    <h1>saving...</h1>
                </div>
            </div>
            <div ng-show="tooltip.error">
                There was an error while saving your document.
                <p>
                    Please inform the software administrator about following message:
                <p id="quote">
                    {{ DocumentMeta.ErrorMessage }}
                </p>
            </div>
            <div ng-show="tooltip.information">
                <h1 class="centerText logoFont">{{ APP.VERSION }}</h1>
                <p>Open source, <a href="http://opensource.org/licenses/MIT">MIT license</a></p>
            </div>
            <!--<div ng-show="tooltip.statistics">
                <h1 class="centerText">Statistics</h1>
                <p>Created pads (last 7 days)</p>
                <div id="stats"></div>
            </div>-->
            <div id="statusText">
                <i class="fa fa-hdd-o"></i> {{StatusText}}
            </div>
        </div>
        <p class="centerText" id="isSavingHint">saving...</p>
    </div>
    <textarea data-auto-grow ng-readonly="DocumentMeta.isReadOnly" id="editor" ng-click="hideTooltip()" ng-model="DocumentMeta.Content" ng-change="setTitle()" placeholder="Write here"></textarea>
</body>
</html>