@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    width: 800px;
    margin: 0 auto;
}

div#parentNav {
    padding: 0 10px;
    border: 1px solid rgb(243, 243, 243);
    border-top: 0;
    box-shadow: 0 0 5px #F1F1F1;
    position: fixed;
    background: white;
}

div#content {
    margin-top: 10px;
    padding: 5px;
    border-bottom: 0;
    outline: 0;
}

div#content:focus {
    background: black;
}

div#parentNav a {
    text-decoration: none;
    padding-right: 15px;
    color: #057AAD;
}

#parentNav ul{
    padding: 0;
    margin: 0;
}

#parentNav ul:after{
    clear: both;
}

#parentNav li{
    list-style-type: none;
    display: inline-block;
}

#parentNav li a{
    padding: 10px;
    display: block;
}

textarea {
    font-family: 'Courier New';
    margin-top: 50px;
	min-height: 200px;
    padding: 10px;
    border: 2px solid rgb(248, 248, 248);
    border-top: 0;
    border-bottom: 0;
    border-color: rgba(0,0,0,0);
    outline: 0;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
    width: 100%;
    transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
}

textarea:hover, textarea:focus, input:focus {
    border-color: rgba(248, 248, 248, 1);
}

div#footer {
    position: absolute;
    bottom: 0px;
    width: 99%;
    text-align: center;
    color: #057AAD;
    font-size: small;
}

#tooltip {
	height: 200px;
	display: none;
	background: white;
    margin-top: 5px;
    border-top: 2px solid rgb(248, 248, 248);
}

#download .downloadLink{
    width: 50%;
    padding: 0;
    display: inline-block;
    float: left;
    padding: 85px 0;
    background: transparent;
}

#download .downloadLink:hover{
    background: rgb(248, 248, 248);
}

p#quote {
    font-family: Courier;
    font-style: italic;
    font-size: small;
}
div#statusText {
    position: absolute;
    bottom: 0px;
    width: 99%;
    text-align: right;
    color: #057AAD;
    font-size: small;
    display: none;
}

span#AppName {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-left: 5px;
    color: #057AAD;
}

#isSavingHint {
    color: rgb(88, 88, 88);
    display: none;
    right: 50%;
    position: fixed;
    bottom: 10px;
    background: white;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 0 1px 5px #F1F1F1;
}

.centerText {
    text-align: center;
}